@model Application

<form action="@Url.Action("PublishPackageToUATFolder","UATPackage")" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Publish for @Model.Label</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            @Html.Hidden("ApplicationId", Model.Id)
            <div class="form-group mb-3">
                <label class="col-md-5">
                    Source Folder
                </label>
                <div class="col-md-7">
                    @Html.TextBox("sourceFolder", Model.SourceFolderName, new { @class = "form-control" })
                </div>


            </div>
            <div class="form-group mb-3">
                <label class="col-md-5">
                    Source Folder
                </label>
                <div class="col-md-7">
                    @Html.TextBox("DestinationFolder", Model.DestinationFolderName, new { @class = "form-control" })
                </div>


            </div>
            <div class="form-group mb-3">
                <label class="col-md-5">
                   Publish Folder Name
                </label>
                <div class="col-md-7">
                    @Html.TextBox("folderName", DateTime.Now.ToString("yyyyMMddHHmm"), new { @class = "form-control" })
                </div>


            </div>
           

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</form>
